@font-face {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./fraunces-latin-400-normal.woff2") format("woff2");
}

@font-face {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./fraunces-latin-500-normal.woff2") format("woff2");
}

@font-face {
	font-family: "Fraunces";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("./fraunces-latin-600-normal.woff2") format("woff2");
}

@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./manrope-latin-400-normal.woff2") format("woff2");
}

@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./manrope-latin-500-normal.woff2") format("woff2");
}

@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("./manrope-latin-600-normal.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./ibm-plex-mono-latin-400-normal.woff2") format("woff2");
}

@font-face {
	font-family: "IBM Plex Mono";
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./ibm-plex-mono-latin-500-normal.woff2") format("woff2");
}

@font-face {
	font-family: "Rock Salt";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./rock-salt-latin-400-normal.woff2") format("woff2");
}
